.desktop {
    background-image: url("/home/larry/LARRYPROJECTS/windowsxp_portolio/my-portfolio/src/assets/windows-xp.png");
    background-size: cover;
    height: unset;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 1rem;
    position: relative;
  height: 95vh;
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
